<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="desktop.css">
    <script src="desktop.js"></script>
    <title>Desktop Web Page</title>
</head>
<body>
    <h1>This is the start of my desktop webpage</h1><br /><br />
    <p>This is the weather for "<%= name %>" </p><br /><br />
    <p>"<%= main %>"</p>
</body>
</html>
